@import "tailwindcss";

/* scroll bar disabled*/
body {
  /* overflow: hidden; */
}

/* global.css or App.css */
.ql-container {
  height: 100% !important;
}

.ql-editor {
  height: auto !important;
  min-height: 300px;
  padding-bottom: 2rem; /* Make space above Save */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}
